.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    li + li {
      margin-left: 39px;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    line-height: 102.25%;
    letter-spacing: -0.005em;
    cursor: pointer;
  }
}

.hero {
  display: flex;
  align-items: center;

  .left, .right {
    flex: 50%;
  }

  .left {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 102.25%;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -0.005em;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 102.25%;
    letter-spacing: -0.005em;
    color: #000;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .button {
    width: 184px;
    padding: 17px 43px;
    font-size: 18px;
  }
}

.section__title {
  font-size: 45px;
  line-height: 102.25%;
  font-weight: 700;
  letter-spacing: -0.005em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 38px;
  display: block;
}

.portfolio {
  &__items {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "first . ." "first . .";
    gap: 27px;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
  }
  &__item {
    &:first-of-type {
      grid-area: first;

      img {
        max-height: 570px;
        max-width: 570px;
      }
    }

    img {
      height: 100%;
      max-height: 270px;
      max-width: 270px;
    }
  }
}
