@import "~normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC");
* {
  font-family: "Neucha", sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  -webkit-overflow-scrolling: touch;
}


.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  line-height: 102.25%;
  letter-spacing: -0.005em;
  cursor: pointer;
  border: 2px solid #000000;
  padding: 8px 11px;
  width: 100%;
  border-bottom-left-radius: 185px 25px;
  border-bottom-right-radius: 20px 205px;
  border-top-left-radius: 125px 25px;
  border-top-right-radius: 10px 205px;
  box-shadow: 15px 28px 25px -18px rgb(0 0 0 / 20%);
  transition: all 235ms ease-in-out 0s;
}

section + section {
  margin-top: 65px;
}

img {
  width: 100%;
  height: auto;
  border: 0;
}

